@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");


body {
 background-color: #424242;
 margin: 0;
 height: 100vh;
 user-select: none;
}
h2,h3, label{
  color: #d3d3d3;

}
h3{
  display: block;
}
.sliders {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}
.sliderContainer {
 width: 15em;
 text-align: center;
}
.movement{
 /* display: flex;
 align-items: center;
 justify-content: center;
 margin: 5px; */
 margin: 0;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
  /* flex-direction: column; */
}
.movement-con{
  height: 1em;
  position: relative;
  border: 1px solid #c6b300;
 }

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  border-radius: 10em;
  background-color: #c6b300;
  outline: none;
  margin-bottom: 14px;
  
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 40%;
  background: #424242;
  cursor: pointer;
  border: 2px solid #cf7575;
}


.output {
 color: #d3d3d3;
 font-family: Lato, sans-serif;
 letter-spacing: 1.5px;
 font-size: 20px;
 margin-left: 5px;
}
